
{% extends "blog/base.html" %}
{% load static %}
{% block css %}

.navbar{
      background-color:rgba(0,0,0,.2)
    }

    .navbar-brand{
    font-size: 35px;
    font-weight: 800;
    color: #211bc4;
    word-spacing: 4px;
    letter-spacing: 2px;
    font-family: 'Ranchers', cursive;
  }
  .navbar-toggler{
    border: 4px  solid black;
    border-color: black;

  }
  .nav-item{
    text-align: center;
    font-size: 20px;
    color: #211bc4;
    letter-spacing: 2px;
    font-family: 'Sora', sans-serif;


  }
     .bgimage {
      background-image: linear-gradient(to right, #091ce6 , #68b9e8);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100vh;
      padding-top: 240px;



      }

      .fadeIn{
        font-weight: 800;
        color: white;
      }
      .fadeIn h1{
        font-family: 'Ranchers', cursive;
        font-size: 100px;
        letter-spacing: 2px;
        word-spacing: 4px;
      }
      .fadeIn p{
        font-family: 'Sora', sans-serif;
        font-size: 30px;
        letter-spacing: 1px;
        word-spacing: 2px;
      }
      .fadeIn button{
        border: 2px solid darkblue;
        margin-top: 5px;
      }

     .title{
      color: black;
      font-size: 30px;
      font-family: 'Sora', sans-serif;
     }
     .subtitle{

      font-size: 20px;
      font-family: 'Sora', sans-serif;
     }
     .title .subtitle hover:{
          color: blue;
     }
     .preview a {
      text-decoration: none;

     }


     a:link { color: : black; text-decoration: none; font-weight: bold }
     a:visited { color: black; text-decoration: none; font-weight: bold }
     a:active { color: black; text-decoration: none }
     a:hover { color: blue; text-decoration: none; font-weight: bold }

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.btn-primary {
  background-color: #0085A1;
  border-color: #0085A1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: white;
  background-color: #00657b !important;
  border-color: #00657b !important;
}

.footer1{
padding: 0;
height: 150px;
padding-top:30px;
justify-content:center;

}

{% endblock %}


{% block content %}

<div class="bgimage">
      <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="text-center white-text mx-5 wow fadeIn">
        <h1 class="mb-4" >
          <strong>KXP BLOGS</strong>
        </h1>

        <p>
          <strong>Post By {{ view.kwargs.username }} </strong>
        </p>


      <!-- Content -->

    </div>

    </div>
  </div>
  <!-- Page Header -->


<div class="container my-5">

    <div class="row">

{% for post in posts %}

      <div class="col-lg-8 col-md-10 mx-auto">

        <div class="preview">
          <a href="{% url 'post-detail' post.title %}">

            <h2 class="title">
              {{ post.title }}
            </h2>
            <h3 class="content">
                {{ post.subtitle }}
            </h3>



          </a>
          <p class="meta">Posted by
            <a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            on {{post.date_posted}}</p>
        </div>
        <hr>

          <!-- Pager -->

      </div>
{% endfor %}

    </div>

    {% if is_paginated %}

    <div class="row">
        <div class="col-lg-12">
        <div class="clearfix text-center my-5" >
      {% if page_obj.has_previous %}
         <a class="btn btn-outline-info" href="?page=1">First</a>
         <a class="btn btn-outline-info" href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
           {% if page_obj.number == num %}
              <a class="btn btn-info" href="?page={{ num }}">{{ num }} </a>
           {% elif num > page_obj.number|add:'-1' and num < page_obj.number|add:'1'%}
               <a class="btn btn-outline-info" href="?page={{ num }}">{{ num }} </a>
            {% endif %}
      {% endfor %}


      {% if page_obj.has_next %}
         <a class="btn btn-outline-info" href="?page={{ page_obj.next_page_number }}">Next</a>
         <a class="btn btn-outline-info" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}


        </div>
    </div>
    </div>
  </div>
{% endif %}

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container-fluid" style=" background-color:rgba(0,0,0,.2);">
      <div class="row footer1 ">

        <div class="col-lg-12 col-md-12  ">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>

        </div>
        <div class="col-lg-12 col-md-12  ">
          <p class="copyright text-muted" style="font-size:20px; font-weight: 800; font-family: 'Sora', sans-serif; text-align:center;">Copyright &copy; KXP Blogs</p>
        </div>
      </div>
    </div>
  </footer>

{% endblock content %}
